<!-- my code -->
<!-- this is a concept called partials in ejs -->
 <!-- this is how you import ejs partials(like  react components) -->
<!-- <%- include("../partials/head") %>

<body>-->
    <!-- <%-  include("../partials/nav") %> -->
    <!-- <div class="bg-blue-800 text-white h-dvh  " >
    <h1 class="flex  items-center justify-center text-3xl " >here are our registered contacts</h1>
    <div class="flex">
    <ul class="list-none flex  my-5 ">
         this is how you use js in static html to make it live in ejs --> 
        <!-- <% arr && arr.forEach(({name,email,image}=contact)=>{ %> -->
           <!-- <div class="flex flex-col items-center justify-between p-4 shadow-2xl h-70 w-68 bg-white text-black mx-2 ">
            <li  >
                <%= name  %>
            </li>
            <li  >
                <%= email  %>
            </li>
           <img class="" src=
          <%= image %>
            alt="house" srcset="">
           <button class=" cursor-pointer rounded-2xl bg-blue-600 px-3 py-2 mt-2" type="button"> Book Now </button>
            
        </div>
        <%})%> 
        
    </ul>
    <div class=" flex  items-center justify-center p-4 my-5 mx-2 shadow-2xl h-70 w-68 bg-white text-black "  > <a class="text-9xl" href="/contact-us">+</a>  </div>
</div>
</div>

   
</body>
</html>-->